<html>
<head>
    <title>Okpy</title>
    <link href="http://localhost:8080/static/student/styles/auth.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo">
        <img src="http://localhost:8080/static/student/images/logo-light.png">
        <h1>Okpy</h1>
    </div>
    <nav>
        <ul>
            <li><a href="http://localhost:8080">Dashboard</a></li>
        </ul>
    </nav>
</header>
<section class="top center-container">
    <div class="center">
        <h1 class="title">Uh oh</h1>
        <h2 class="subtitle">You have been authenticated , but this email is not enrolled. Is it correct?</h2>
        <span class="break">
        <a href="http://localhost:8080" class="button">Dashboard</a>
        <p class="copy">or <a href="http://localhost:8080/static/student/tour.html">take a tour</a></p>
        </span>
    </div>
</section>
<div class="rise status">No courses found</div>
<section class="courses">
    <div class="wrap">
        <div class="empty">
    <p>It looks like this email is not enrolled in any courses. Double-check to make sure that you submitted with the correct address.</p>
</div>
    </div>
</section>
<footer>
    <h3>okpy</h3>
    <p><a href="http://cs61a.org">cs61a.org</a> . <a href="http://composingprograms.com">composingprograms.com</a> . <a href="https://github.com/Cal-CS-61A-Staff/ok">github repo</a></p>
</footer>
</body>
<link href='http://fonts.googleapis.com/css?family=Roboto:400|Roboto+Condensed' rel='stylesheet'
      type='text/css'>
</html>
