<div class="col-md-4">
    <div class="blob colored" color="blue">
        <div class="blob-main attn">
            <h2 class="blob-title ng-binding">CS 61A</h2>
            <p class="blob-shiftcopy blob-copy ng-binding"><span class="icon-tag"></span>UC Soumya
                &nbsp; spring&nbsp;2015</p>
        </div>
        <a href="https://ok-server.appspot.com/#/course/5066549580791808">
            <div class="blob-action">View Course
                <span class="white arrow right"></span>
            </div>
        </a>
    </div>
</div>