bin
include
lib
man
tmp
.Python
.noseids
*.pyc
*.pyo
*.DS_Store
*.swp
*.idea
*.project
*.pydevproject
*.kpf
.coverage

# pip-related files
*.egg-info
dist

# ok-related files
*.ok_refresh
*.ok_messages
