bin
env
include
lib
man
tmp
.Python
.noseids
*.pyc
*.pyo
*.DS_Store
*.swp
*.idea
*.project
*.pydevproject
*.kpf
.coverage

# pip-related files
*.egg-info
dist
pip-selftest.json

# ok-related files
*.ok_refresh
*.ok_messages

# IDE
*.iml
.idea/
