language: python

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

cache:
  directories:
  - "$HOME/.cache/pip"
  - lib/python3.5/site-packages
  - lib/python3.6/site-packages
  - lib/python3.7/site-packages
  - lib/python3.8/site-packages

install:
    - pip install -r requirements.txt

script: nosetests --with-coverage tests

matrix:
  include:
    - os: windows
      python: "3.7"
      language: sh
      before_install:
        - choco install python --version=3.7.2 --params "/InstallDir:C:\\Python"
        - export PATH="/c/Python:/c/Python/Scripts:$PATH"
        - easy_install -U pip
        - virtualenv -p python3 env
        - source env/bin/activate
        - pip install -r requirements.txt
    - os: windows
      python: "3.8"
      language: sh
      before_install:
        - choco install python3 --version=3.8.0-b1 --pre --params "/InstallDir:C:\\Python"
        - export PATH="/c/Python:/c/Python/Scripts:$PATH"
        - easy_install -U pip
        - virtualenv -p python3 env
        - source env/bin/activate
        - pip install -r requirements.txt


notifications:
  email: false
  slack:
    on_success: never
    on_failure: always
    secure: RTEhZRnM6voyZP4sPhvl28oNp0z731DBNLufvpVI2ZrzyjEgnfcbS2sgPudTUuIprRWw29Xg++s87t+5tNGTfXBSAsh5YXqV8gm4E5686W0CfmJ8Y9D5Z29xzdrmDdjPzxDz22YgEEpkTjtemUo8VpPcifK37GPqOScnXuXAh6o=
