
os: linux
  language: python

  python:
    - "3.5"
    - "3.6"
    - "3.7"
    - "3.8"

  install:
    - pip install -r requirements.txt

  cache:
    directories:
      - "$HOME/.cache/pip"
      - lib/python3.5/site-packages
      - lib/python3.6/site-packages
      - lib/python3.7/site-packages
      - lib/python3.8/site-packages

script: nosetests --with-coverage tests

notifications:
  email: false
  slack:
    on_success: never
    on_failure: always
    secure: RTEhZRnM6voyZP4sPhvl28oNp0z731DBNLufvpVI2ZrzyjEgnfcbS2sgPudTUuIprRWw29Xg++s87t+5tNGTfXBSAsh5YXqV8gm4E5686W0CfmJ8Y9D5Z29xzdrmDdjPzxDz22YgEEpkTjtemUo8VpPcifK37GPqOScnXuXAh6o=
