# Client
## Requests / Certifi
requests[security]==2.31.0
certifi==2019.11.28
urllib3==1.26.17
chardet==3.0.4
idna==2.8
## Setup
setuptools==68.2.2
## Coverage
coverage==7.3.2
## Pytutor
pytutor==1.0.0
ast-scope==0.3.1
attrs==19.3.0
## Cryptography
pyaes==1.6.1
# Coloring
colorama==0.4.6
# Displaying Timedelta
display-timedelta==1.1
## Autobackup
filelock==3.0.12
# Lark (BNF)
lark==0.12.0

# Tests
nose2==0.14.0
# pylint==1.2.1
virtualenv==16.7.9
mock==1.0.1
