<div class="col-md-4">
    <div class="blob colored" color="blue">
        <div class="blob-main attn">
            <h2 class="blob-title ng-binding">{display_name}</h2>
            <p class="blob-shiftcopy blob-copy ng-binding"><span class="icon-tag"></span>{institution}
                &nbsp; {term}&nbsp;{year}</p>
        </div>
        <a href="{url}">
            <div class="blob-action">View Course
                <span class="white arrow right"></span>
            </div>
        </a>
    </div>
</div>