.top.center-container {
    background-color:rgb(239, 95, 86)
}

.top .center .button {
    background-color:rgb(171, 49, 44)
}
    .top .center .button:hover {
        background-color:#701d17
    }

.rise.status {
    background-color:#701d17;
}