name: CI

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        name: [
          Python 3.12 (Windows),
          Python 3.12 (Macintosh),
          Python 3.12 (Ubuntu),
          Python 3.11 (Windows),
          Python 3.11 (Macintosh),
          Python 3.11 (Ubuntu),
          Python 3.9 (Windows),
          Python 3.9 (Macintosh),
          Python 3.9 (Ubuntu),
        ]
        include:
          - name: Python 3.12 (Windows)
            os: windows-latest
            python-version: 3.12
          - name: Python 3.12 (Macintosh)
            os: macos-latest
            python-version: 3.12
          - name: Python 3.12 (Ubuntu)
            os: ubuntu-latest
            python-version: 3.12
          - name: Python 3.11 (Windows)
            os: windows-latest
            python-version: 3.11
          - name: Python 3.11 (Macintosh)
            os: macos-latest
            python-version: 3.11
          - name: Python 3.11 (Ubuntu)
            os: ubuntu-latest
            python-version: 3.11
          - name: Python 3.9 (Windows)
            os: windows-latest
            python-version: 3.9
          - name: Python 3.9 (Macintosh)
            os: macos-latest
            python-version: 3.9
          - name: Python 3.9 (Ubuntu)
            os: ubuntu-latest
            python-version: 3.9
    env:
      VENV_DIR: env
    steps:
    - name: Checkout repository
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: "Caching (for Linux)"
      uses: actions/cache@v1
      if: startsWith(runner.os, 'linux')
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: ${{ runner.os }}-pip-
    - name: "Caching (for Macintosh)"
      uses: actions/cache@v1
      if: startsWith(runner.os, 'macos')
      with:
        path: ~/Library/Caches/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: ${{ runner.os }}-pip-
    - name: "Caching (for Windows)"
      uses: actions/cache@v1
      if: startsWith(runner.os, 'windows')
      with:
        path: ~\AppData\Local\pip\Cache
        key: v2-${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: ${{ runner.os }}-pip-
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Initialize environment
      shell: bash
      run: python -m venv "${VENV_DIR}"
    - name: Install packages
      shell: bash
      run: |
        case "${{ matrix.os }}" in
          windows*) scripts="Scripts";;
          *       ) scripts="bin";;
        esac
        . "${VENV_DIR}/${scripts}/activate"
        python -m pip install --upgrade pip
        python -m pip install --default-timeout=1000 -r requirements.txt
    - name: Run tests
      shell: bash
      run: |
        case "${{ matrix.os }}" in
          windows*) scripts="Scripts";;
          *       ) scripts="bin";;
        esac
        . "${VENV_DIR}/${scripts}/activate"
        echo "Using $(python --version) on ${{ matrix.os }}" 1>&2
        nose2 -v --with-coverage tests
